{% extends "base.html" %}

{% block app_content %}
    <h1>Hi visitor</h1>
    <P>Welcome to the world of Stupid Dc</P>
    <p>Stupid meaning "stupidity, a lack of intelligence".</p>
    <p>Dc(大创) meaning "innovation project of undergraduate".</p>
    <B>a lack-of-intelligence innovation project of undergraduate</B>
    <h1>猜你想穿</h1>
    <ul id="container">
        {% for image in images %}
        <img class="item" src="{{ url_for('images', filename=image) }}" width="304" height="228" />
        <p>{{ image.split('@')[0] }}</p>
        {% endfor %}
        {% if not images%}
        <p>来到了一个没有衣服的空衣柜...导航栏点击Add添加8</p>
        {% endif %}
    </ul>

{% endblock %}
